<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Authorization Code Processor</title>
    </head>
    <body>
        <H1>Authorization Code Processor</H1>
        </P>
        {% if link %}
            <A HREF="{{ link }}">Click here to authorize Sprinklr</A>
        {% endif %}
        </p>
        <table>
        {%if code %}   
            <tr><td align="right">Authorization code:</td><td>{{ code }}</td></tr>
        {% endif %}

        {%if access_token %}
            <tr><td align="right">Access Token:</td><td>{{ access_token }}</td></tr>
        {% endif %}

        {%if refresh_token %}
            <tr><td align="right">Refresh Token:</td><td>{{ refresh_token }}</td></tr>
        {% endif %}

        {%if name %}
            <tr><td align="right">User Name:</td><td>{{ name }}</td></tr>
        {% endif %}

        {%if email %}
            <tr><td align="right">User Email Address:</td><td>{{ email }}</td></tr>
        {% endif %}
        </table>

        </p>
        {%if error %}   
            <strong>Error: {{ error }}</strong>
        {% endif %}
    </body>
</html>